################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoowooTech.LEDController.Client/bin/Debug
/LoowooTech.LEDController.Client/obj/Debug
/LoowooTech.LEDController.Server/bin/Debug
/LoowooTech.LEDController.Server/obj/Debug
/LoowooTech.LEDController.Server.API/bin/Debug
/LoowooTech.LEDController.Server.API/obj/Debug
*.suo
*.user
/LoowooTech.LEDController.Model/bin/Debug
/LoowooTech.LEDController.Model/obj/Debug
/LoowooTech.LEDController.Server/bin
/LoowooTech.LEDController.Server.API/bin
/LoowooTech.LEDController.LEDDriver/bin/Debug
/LoowooTech.LEDController.LEDDriver/obj/Debug
/LoowooTech.LEDController.Server/Resources
/LoowooTech.LEDController.Client/bin/Release
/LoowooTech.LEDController.LEDDriver/obj/Release
/LoowooTech.LEDController.LEDDriver/bin/Release
/LoowooTech.LEDController.Client/obj/Release
/LoowooTech.LEDController.Model/bin/Release
/LoowooTech.LEDController.Model/obj/Release
/LoowooTech.LEDController.Server/obj/Release
/LoowooTech.LEDController.Client/bin
/LoowooTech.LEDController.Data/bin
/LoowooTech.LEDController.Data/obj
/LoowooTech.LEDController.ClientCheck/bin/Release
/LoowooTech.LEDController.ClientCheck/obj/Debug
/LoowooTech.LEDController.ClientCheck/obj/Release
