<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="1"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAPIService" sendTimeout="10" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/LoowooTech.LEDController.Server.API/APIService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAPIService"
          contract="APIServiceReference.IAPIService" name="BasicHttpBinding_IAPIService" />
    </client>
  </system.serviceModel>
</configuration>