<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="App_Data\data.db;" />
  </connectionStrings>
  <appSettings>
    <add key="ServicePort" value="8080" />
    <!--排队机监听服务配置，IP2为本机真实IP地址 Port2为服务端口号不能与上面的Port相同-->
    <add key="ServiceIP2" value="192.168.31.249"/>
    <add key="ServicePort2" value="8081"/>
    <!-- 文字动画效果的速度 -->
    <add key="AnimationSpeed" value="5" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>
